[2017-08-08 22:32] gmlewis opened #1 "Question: have you seen graphql-go/graphql?"
Have you checked out [graphql-go/graphql](https://github.com/graphql-go/graphql)?
Is it possible to consolidate the two?
I ask here because the other one appears to be older.

[2017-08-08 22:45] shurcooL commented on #1
I have seen it and researched it when opening https://github.com/google/go-github/issues/646. Unless I'm missing something, it has nothing in common with this repository, aside from being related to GraphQL protocol. That repo is a Go GraphQL **server** implementation. This one is a Go GraphQL **client** implementation.

Also, there are two well-known Go GraphQL server implementations:

- https://

[2017-08-08 22:50] gmlewis commented on #1
Excellent... thank you, @shurcooL, for the explanation!

[2017-08-08 22:50] #1 closed

[2017-08-09 00:22] gmlewis opened #2 "Can shurcooL/go/ctxhttp dependency be removed?"
Re: https://github.com/shurcooL/graphql/blob/52ce28a2c9fdfbdb3377232422c7915fa04b678a/graphql.go#L11
the ctxhttp package is being imported, which then refers to https://go-review.googlesource.com/c/24620
which has been merged.
Is it possible to remove the dependency now?

[2017-08-09 00:48] shurcooL commented on #2
Hi Glenn,

Thanks for checking in on this. To be clear, the [`ctxhttp`](https://godoc.org/github.com/shurcooL/go/ctxhttp) package comment says:

Specifically, it exists until `golang.org/x/net/context/ctxhttp` is updated to use `context` instead of the obsolete `golang.org/x/net/context`. It is not waiting on [CL 24620](https://golang.org/cl/24620) to be merged—that happened a long time ago. I ref

[2017-08-09 01:10] shurcooL commented on #2
I've filed https://github.com/golang/go/issues/21358 to find out what the status of the upstream `ctxhttp` is, and when it can be updated to use the modern `context` import.

[2017-08-09 01:30] shurcooL commented on #2
Until that issue is resolved, I'll just note that the `github.com/shurcooL/go/ctxhttp` package is very simple conceptually. Its source is 100% identical to `golang.org/x/net/context/ctxhttp`, except the pre-1.7 support is dropped and "golang.org/x/net/context" import is replaced with "context".

Compare for yourself:

- [ctxhttp.go in golang.org/net/x/context/ctxhttp](https://github.com/golang/net

[2017-08-18 16:50] artonge opened #3 "Support for Inline Fragments"
Hi,

Any plan to support [Inline Fragments](http://graphql.org/learn/queries/#inline-fragments) ?

Example :
[code]
Do you think it would be feasible ?

Edit: manage to do without it. But it would be a nice feature :)

[2017-08-18 18:59] shurcooL commented on #3
Yes, inline fragments are supported well. I still need to work on adding a section to README that explains how to use them. Let's use this issue to track that.

In the meantime, see issue https://github.com/shurcooL/githubql/issues/10 which was about union + inline fragment support. It was resolved in https://github.com/shurcooL/githubql/pull/15.

Can you show you did it it? Then I can suggest a b

[2017-08-19 17:05] artonge commented on #3
I just found a way that don't need inline fragment in the API I use.

[2017-08-19 20:03] shurcooL commented on #3
I see. Here's how you can do the above GraphQL query using `graphql` syntax:

[code]

[code]

[2017-08-29 16:56] shurcooL commented on #3
@artonge, have you had a chance to try the above? Any issues?

[2017-09-06 18:52] artonge commented on #3
Hi,
Sorry I was in holidays.
No I didn't tried it as I found an other way to do what I wanted.

[2017-11-03 02:12] #3 closed

[2017-11-03 02:32] shurcooL commented on #3
The support for inline fragments is documented in README now:

[https://github.com/shurcooL/graphql#inline-fragments](https://github.com/shurcooL/graphql/tree/cf6db17b893acfad0ca1929ba6be45bf854790ed#inline-fragments)

/cc @artonge FYI.

[2017-11-24 13:44] romshark opened #5 "Transport layer abstraction"
To be able to use other transmission protocols, such as WebSockets for example, shurcooL/graphql needs to be abstracted away from the actual transport layer.

This abstraction could also allow:
- **subscriptions** (which ideally need WebSockets for bi-directional communication)
- request hijacking / **proxying**
- internal **mocking** of the GraphQL endpoint
- and possibly even more...

I suggest

[2017-11-24 19:13] shurcooL commented on #5
For reference, this also came up in the past at https://github.com/shurcooL/githubql/issues/2. However, the original author ended up no longer needing the feature, so I deferred thinking about it until a new concrete need would arise (such as this one).

Currently, `graphql` assumes/hardcodes HTTP as the transport protocol, and your feature request is to abstract out the transport, making it possi

[2017-11-24 19:13] shurcooL commented on #5
Just wondering, what GraphQL server are you using, and does it support non-HTTP transports?

[2017-11-24 19:21] romshark commented on #5
We're currently using [neelance/graphql-go](https://github.com/neelance/graphql-go) ontop of a WebSocket server.

[2017-11-30 17:57] alexander-myltsev opened #6 "Error while generating graphql query with variables"
The query and variables as follows:

[code]

Produces query with errors (no commas between query parameters):

[code]

On the other hand, when I'm using queries as follows:

[code]

It produces query with errors too (variable type should be `$someids:[ID!]!` with bang in the end):

[code]

Is it a bug, or am I doing something wrong?

[2017-11-30 18:07] shurcooL commented on #6
Thanks for reporting this, I will investigate.

[2017-11-30 18:10] shurcooL commented on #6
This part might be intentional. My intention was to produce a minified query. When I tested against GitHub's GraphQL server, it accepted comma-less query parameters without issues.

See the following test-case:

https://github.com/shurcooL/graphql/blob/671b933639ae10534edc12900803e2c1d7dfb9b5/query_test.go#L163-L168

Can you tell me what you're basing the statement that omitting commas is an error

[2017-11-30 18:28] shurcooL commented on #6
http://facebook.github.io/graphql/October2016/#sec-Insignificant-Commas and http://facebook.github.io/graphql/October2016/#sec-List-Value seem to suggest that omitting commas is indeed a valid thing to do:

[2017-11-30 18:46] shurcooL commented on #6
That part seems to be a legitimate issue. Basically, I hadn't run into that situation yet, so the code that handles it was left incomplete.

[2017-11-30 20:57] shurcooL commented on #6
@alexander-myltsev, please see PR #7, it resolves this issue.

[2017-12-01 10:13] alexander-myltsev commented on #6
@shurcooL works for me now.

[2017-12-01 14:00] shurcooL commented on #6
Thanks for testing, and for reporting this issue! I'll merge the PR now.

[2017-12-01 14:01] #6 closed

[2018-01-31 12:22] warpfork opened #9 "Support for generating (limited) recursive queries"
The setup
-------------

First off, just to clear the air -- GraphQL doesn't really support recursion.  This is a conscious design decision by the GraphQL developers, and it's one I largely understand and agree with.  Recursive queries are a great way to accidentally generate unbounded load on your servers.

However, that's not to say some finite amount of recursion isn't *useful*.  It's possible

[2018-01-31 14:10] warpfork commented on #9
Tried out making the patch to the `writeQuery` method, and this appears to do the trick:

[code]

[2018-02-01 17:07] shurcooL commented on #9
Thanks a lot for reporting this, this is very helpful!

First, the fact that you can get a stack overflow when using the library sounds like a bug. It should probably detect that situation and return an error (the only reasonable thing to do without additional information). The only reason it doesn't is because I've never run into this situation during development (and you're the first to report i

[2018-02-01 17:30] shurcooL commented on #9
So this GraphQL query:

[code]

Can be expressed using existing `graphql` API like so:

[code]

Does that look right?

[2018-02-07 09:14] eric-am commented on #9
Yup, that's pretty much the shape of it.

The example you give of using nested anonymous structs like that is very interesting and looks a lot cleaner than doing it with named package-level structure -- that approach hadn't occurred to me.  I bet it works nicely in many scenarios.  Doing any recursive algorithms for handling the data would still require copying back into another structure though I

[2018-02-14 04:39] shurcooL opened #10 "Perform simple GraphQL directives (@skip, @include) on client-side."
This is an optional future enhancement that we can consider.

If/when we parse the incoming GraphQL query, we can perform the `@skip` and `@include` [GraphQL directives](http://facebook.github.io/graphql/October2016/#sec-Type-System.Directives) on the client-side. The variables values are known, so there’s no need to send a directive that will evaluate to false anyway. The potential benefit is tha

[2018-02-14 20:28] shurcooL opened #11 "Take into account reflect changes in Go 1.10."
See https://tip.golang.org/doc/go1.10#reflect. As a result, there are certain types of queries that we won't be able to unmarshal into successfully. Need to detect the situation, and, decide how to deal with it.

The fix will be similar to `encoding/json` changes in 1.10, see https://tip.golang.org/doc/go1.10#encoding/json.

I've already started work on this locally.

[2018-02-20 20:25] shurcooL opened #12 "Support specifying operation names."
Operation names are described at http://graphql.org/learn/queries/#operation-name:

Notably, it's most useful to be able to provide operation names for server-side logging and debugging reasons.

We should support this.

[2018-02-20 20:34] shurcooL commented on #12
@seanpile has already created PR #8 that resolves this issue. In it, he mentioned:

This package is still in an early period where we can change the API (see README), so what we need to do is determine which would be the overall best API.

During the process of reviewing that PR, I've considered these two alternatives:

1. Single method that takes `name string` parameter:

[code]

2. Two separate

[2018-02-22 19:30] eric-am commented on #5
I'm also starting to pine for some pluggability.  I'd like to start doing mocks.

I don't know if this requires replacing HTTP per se, but it might be one of the most direct approaches.

The project I'm working in already has a bunch of wrapper methods for our queries, so I could also just turn those into an interface, and implement a mock one which does some flipflops of json, etc.  Having the pl

[2018-02-26 14:06] seanpile commented on #12
👍 for case 1, documenting that an empty string will generate a query without a name.  Perhaps an exported const (e.g., `AnonymousQuery`).  If the API was frozen, I'd opt for 2 but since it's not, and since the change for clients is minimal, I would go option 1.

[2018-03-08 14:27] eric-am commented on #12
I'd like to put a third option on the table: an "options" vararg.

[code]

Usage is then roughly like:

[code]

The [Cheney-style "functional options"](https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis) pattern is one nice way of implementing this.  An interface with an unexported marker function, a handful of structs implementing it, and a type-switch inside the Query method

[2018-03-09 12:45] eric-am commented on #5
I did an experiment with this, and here's what I learned:

---

It's hard to decide if the Transport interface should use structs...

[code]

... or if it should be the simpler, but less-typed binary pipe:

[code]

My instinct is to prefer types over bytes, but implementing that seems to imply a need for a marshaller utility function that any transport implementation would call in order to be DRY

[2018-03-09 16:31] shurcooL commented on #5
Thanks a lot for experimenting with this and writing up those notes @eric-am, that is very helpful and valuable. I want to take some time to think the proposed API, read up a bit on GraphQL spec to see what they specify, and then I can share my opinions.

We won't be able to merge a PR before making a decision here, so feel free to hold off on that. But you can send it earlier if you think seeing

[2018-03-09 16:33] shurcooL commented on #5
Would you mind elaborating on how it compares to the current testing method used in this package (i.e., [`graphql_test.go`](https://github.com/shurcooL/graphql/blob/3d276b9dcc6b1e0adf19557a8de5cb8632c07697/graphql_test.go)).

[2018-03-12 10:50] eric-am opened #17 "Stack overflow when types contain a cycle"
(Originally mentioned at https://github.com/shurcooL/graphql/issues/9, but filing as a separate issue for clarity of discussion.)

Structs with fields that reference themselves (or reference other types that eventually reference themselves) result in a stack overflow as the query generator code traverses them.

For example, this is a problematic struct containing fields with its own type:

[code]

[2018-03-16 15:08] eric-am commented on #5
Just for the sake of conversation the diff is here (with many things that are not meant for upstreaming, being too opinionated for that: https://github.com/dbmedialab/graphql/compare/master...pluggable-transport

[2018-04-13 09:21] jorgesece opened #19 "Mutation struct variable empty?"
Hi! when I try to execute a mutation with a list of ProductInput structs, I receive in the server a list of products but the attributes (Name and Location) are empty. According to the [documentation](https://github.com/shurcooL/graphql), it is the way to do it, what I'm doing wrong? Many thanks:

[code]

[2018-04-13 18:41] shurcooL commented on #19
As I understand, you have your own GraphQL server where the client is sending the mutation.

I'm not seeing you do anything clearly wrong in the snippet you posted. It looks like it should work.

Are you sure the data in `installInfo.Package.Products` has non-empty values? Try adding some log statements there to confirm.

The code in `graphql` package that marshals the variables is very simple:

h

[2018-04-17 10:23] #19 closed, assigned to nobody

[2018-04-17 16:35] shurcooL opened #20 "Structs used in variables need json tags: not intuitive and not documented."
See [issue 19](https://github.com/shurcooL/graphql/issues/19).

Structs used in variables need to have `json` tags to match the names that the GraphQL server expects. E.g.:

[code]

This is not intuitive, and currently not documented.

I should either:

-	Document this so it's clear this must be done.
-	Improve the `graphql` code to make it no longer neccessary to manually specify those `json` tag

[2018-04-17 16:36] shurcooL commented on #19
Thanks for following up. I'm glad you got to the bottom of this.

I think I understand what happened now. This general GraphQL client package was factored out of `graphql`, the GitHub-specific GraphQL client, which I created first. Over there, all the input structs were [generated](https://github.com/shurcooL/githubql/blob/d8297a7d5a840a2105de3f27796a6876d03b5da1/input.go#L12-L18), and they includ

[2018-05-05 15:55] alexander-myltsev opened #21 "Multiline graphql tag"
I have a very long graphql tag as follows:

[code]

Is there a way to split it to multilines as follows?:

[code]

[2018-05-05 16:57] shurcooL commented on #21
To answer your question, this library uses the standard Go struct field tags (as documented at https://godoc.org/reflect#StructTag), and they don’t support multiple lines. See golang/go#15893. That means, at this time, this isn’t possible.

We can use this issue for further discussion.

[2018-05-09 23:54] mwilli31 opened #22 "GraphQL Errors not be returned due to bad unmarshal of Response Data"
Minor bug where the response from the server is not compliant with the Query Struct and provides valid graphql Errors, but returns too early so error supplied is from Unmarshal and not the actual server Error.

Fix could be in graphql.go (line 85) as such:

[code]

From:

[code]

[2018-05-10 16:41] shurcooL commented on #22
Hi, thanks for reporting.

I'd like to better understand when this can happen (and why):

- Can it happen with a valid GraphQL server, or only if the GraphQL server sends an response that isn't correct according to the GraphQL spec?

- Do you know what are the conditions for this to happen?

- How can I reproduce it?

Thanks.

[2018-05-10 19:51] mwilli31 commented on #22
This is happening with a valid GraphQL server and fails while in compliance with the above spec.  Essentially, the has to do with the UnmarshalGraphQL function:

`func UnmarshalGraphQL(data []byte, v interface{}) error {
	dec := json.NewDecoder(bytes.NewReader(data))
	dec.UseNumber()
	err := (&decoder{tokenizer: dec}).Decode(v)
	if err != nil {
		//ERROR IS THROWN HERE HERE
		return err
	}
`

To r

[2018-05-11 00:20] shurcooL commented on #22
Thanks a lot for the information, it's very helpful.

I will work on a fix.

I suspect the right solution is that `UnmarshalGraphQL` should not return an error on that input. It should return nil error.

Just checking, but are you using the latest version of `graphql`? I remember fixing an issue related to this somewhat recently.

[2018-05-11 00:36] shurcooL commented on #22
@mwilli31 Can you share the GraphQL query and/or the Go code to execute that query that you used? I can't reproduce the problem yet.

[2018-05-11 01:12] shurcooL commented on #22
@mwilli31 I've sent PR #23 which should fix this issue. Could you give it a try and confirm it fixes it for you?

[2018-05-14 00:00] #22 closed

[2018-07-11 14:47] YannickB opened #25 "Issue when using a null parameter"
Hi,

When calling mutate function with a null variables I have the following error :

panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x98 pc=0x8edbc6]

goroutine 21 [running]:
testing.tRunner.func1(0xc4204200f0)
	/usr/lib/go-1.10/src/te

[2018-07-11 17:51] shurcooL commented on #25
Thanks for reporting this. `graphql` shouldn't panic, and I will fix that.

But I suspect I see what the issue is. You're not specifying the exact pointer type for the nil variable. You should do this instead:

[code]

Otherwise, it's not possible for `graphql` to know the types of "title" and "parentID" variables when constructing the query. See https://github.com/shurcooL/graphql#arguments-and-v

[2018-07-11 18:18] YannickB commented on #25
It's true, thanks for the tip!

[2018-08-06 13:11] lynic opened #27 "Is there any plan to support subscription?"

[2018-08-07 03:30] dmitshur commented on #27
Yes, it is a long term goal. However, I don't plan to work on this soon. It's not needed for [githubv4](https://github.com/shurcooL/githubv4) because the GitHub GraphQL API v4 doesn't make use of the feature.

If you have a need for this feature, I would suggest developing it in a fork. Once it's ready for general consumption, I'd be happy to eventually pull it in.

[2018-08-07 11:32] nodefortytwo opened #36 "Using unexported field in query results in panic."
Whilst trying to use `updatePullRequestReview` mutation I get a panic when calling `client.mutate`

I suspect that I have made a mistake with my mutation structs but the library really shouldn't panic and should instead provide information on the error

NOTE: the mutation is successfully applied

Sample code below to aid in replicating.

[code]

Full Panic
[code]

[2018-08-23 23:03] sebastianmacias opened #28 "Ability to add custom headers to the request"
Currently the only header being set is the content type:

/shurcooL/go/ctxhttp/ctxhttp.go:83
[code]

It would be helpful to allow setting custom headers in addition to the content-type since some graphql servers use headers for auth tokens and setting other variables.

Thanks

[2018-09-17 21:53] cjwagner opened #29 "Include response body in 'unexpected status' error message."
The response body would be very useful for debugging error messages for unexpected statuses. Many 4xx and 5xx responses include useful explanations in their body text.
In particular the https://github.com/kubernetes/test-infra repo uses the https://github.com/shurcooL/githubv4 library to interact with GitHub's v4 API and we are seeing lots of 502 and 403 errors that should include explanations in

[2018-09-24 04:37] dmitshur commented on #29
Ok, I think adding a `ReadAll` on the response body and including it in the error text is a reasonable first step to make, for now. Let's do that.

I'm not sure whether to use %s or %q to format the response body. @cjwagner, would you be able to share sample response bodies during those errors, if you have them available?

A bigger step might be to create a struct error type with a `ResponseBody [

[2018-09-24 19:55] cjwagner commented on #29
Here is an example: ```Something went wrong while executing your query. This may be the result of a timeout, or it could be a GitHub bug. Please include 'EA06:8FDC:2D9BD3C:56E05DD:599AFE05' when reporting this issue.```

The solution shouldn't be specific to the format or contents of the response body though since this is just an example from GitHub. The `%q` format token is more appropriate than

[2018-09-25 04:35] #29 closed

[2018-09-25 15:44] mspiegel opened #31 "RFC: less opaque error type"
I want to submit a pull request that provides a less opaque error type. This is similar to #29 but has a broader purpose. I want to get some feedback before I submit a pull request.

1) Can I export the [errors](https://github.com/shurcooL/graphql/blob/master/graphql.go#L104) type? That will allow me to do something with the Message and Locations.

2) How do I provide more information about where

[2018-09-26 05:54] dmitshur commented on #31
Hi @mspiegel, thank you for opening an issue to discuss this first, it's very helpful.

Yes, a less opaque error type makes sense as a next step to consider. I already alluded to it in https://github.com/shurcooL/graphql/issues/29#issuecomment-423875439:

I'm happy to proceed discussing this, but I would like to gather some data on the use cases first. These might seem like obvious questions, but

[2018-09-26 11:38] mspiegel commented on #31
Sure. I'm building a GitHub integration. So it will listen for events from
GitHub, it may perform actions based on those events, and then it returns
an http response.

Incidentally I don't know what is the best practice on sync vs async GitHub
integrations. Sync makes it easier to debug because the webhook responses
show up in the GitHub UI. I've informally heard that GitHub prefers async
to avoid

[2018-10-24 22:10] andreimc opened #32 "Query JSON field failing"
`struct field for status doesn't exist in any of 2 places to unmarshal`

I have a JSON type and it seems to be expecting the whole object before running my unmarshal.

is there any way to ignore this given it's a JSON scalar return?

[2018-10-25 01:55] dmitshur commented on #32
Thanks for the report. How can I reproduce this?

[2018-10-25 08:31] seta-tonypham commented on #32
@dmitshur I have same issue too, My GQL has struct below
`query
{
  example(id:"123456") {
    id
    jsondata
  }
}`
jsondata result example is `{foo: bar}`

[2018-10-28 19:38] dmitshur commented on #32
There's not enough information there for me to reproduce this. Can you please post a minimal working Go program? Or at least include the query (or a minified version of it) you wrote, and the JSON response from the GraphQL server?

Here's a starting point to make it easier; you just need to replace the query and JSON response:

[code]

[2018-11-14 02:35] dmitshur commented on #2
Issue https://github.com/golang/go/issues/21358 has been resolved today, so I can finally resolve this issue! 🎉 /cc @gmlewis

[2018-11-14 02:41] #2 closed

[2018-11-19 02:34] remones opened #34 "Expose constructQuery to public function"
In my case, the server that I depend on should be mocked, and I need to verify the request in the HTTP handler, so I think it's better to expose some tool functions which can help us to encode/decode.

[2018-12-28 06:19] adamgoose commented on #32
I'm also running into this issue. I am using [Prisma](https://prisma.io) as my GraphQL Server, which provides a scalar Json type. Consider the following schema:

[code]

The following query is valid.
[code]

The following query is invalid, and produces an error: "Field 'meta' of type 'Json' must not have a sub selection."

[code]

I'd like to define my struct like this:

[code]

However, as report

[2018-12-29 02:09] dmitshur commented on #36
Decision: we will skip unexported fields for now. It's a simple and risk-free change, since we'll essentially trade run-time panics for more descriptive errors. It mirrors `encoding/json` semantics.

On the other hand, the choice of immediately returning errors is more risky and may interfere with unrelated fields. In any case, it should probably be done within the `graphql` layer and not in the `

[2018-12-30 06:20] adamgoose commented on #34
I could benefit from this as well. See https://github.com/shurcooL/graphql/issues/27#issuecomment-450298922

[2018-12-30 07:14] adamgoose commented on #32
I have gone ahead and introduced the issue into the boilerplate code you provided above.

[code]

[2018-12-31 06:12] #36 closed

[2019-01-11 23:17] CreatCodeBuild commented on #5
IO agnostic is quite important for me to adapt a library like this. Because I would always prefer to handle IO with my own strategies. Even though I am using HTTP for GraphQL, I would like to fine control the timeout, retries, exponential backoff, and logging. Therefore, I believe it's very valuable for this lib to be IO agnostic, as I consider this the best GraphQL client in Go atm.

[2019-02-18 12:26] tgwizard commented on #28
@dmitshur it's possible to do by creating your own HTTP Client, but it's a lot of work (just look at all the code in `golang.org/x/oauth2` to set the Authorization header). This is what I do:

[code]

Perhaps `Query` and `Mutation` can be updated to accept either a header map, or some (variadic list of) interface that allows you to mutate the request etc?

[2019-02-18 16:27] dmitshur commented on #28
The code in `golang.org/x/oauth2` is more complex because it seeks to provide a general solution (rather than a very specific one) with a high degree of flexibility. E.g., it supports various token sources, including ones with a refresh token, etc.

The code you posted is a much more appropriately sized for a customized solution for your app's needs, and I recommend you continue to use that. It wo

[2019-02-18 19:14] tgwizard commented on #28
It seems that since #5 is desired, adding more custom HTTP handling will be tricky without implementing the transport-agnostic interface layer. I'd be very happy to pick up work on #5 if others have no desire any more.

It's perhaps appropriately sized, but the complexity that it entails is a bit much. You need to care and know about roundtrippers, and that they aren't supposed to mutate the reque

[2019-03-13 07:10] cedricve opened #37 "How to insert an object using mutation"
Hello,

Thank you for this amazing library, I'm trying to insert an object by executing an insert mutation.

So what I have is a simple table called **events**, with two properties **id**, **event**. So what I try to do is create an object with these two properties and insert it. However I'm not sure how to do it? Can someone have a quick look?

			listEvents := []*Events{}
			listEvents = append(

[2019-03-16 15:58] dmitshur commented on #37
What GraphQL server are you using? Can we reproduce this error somehow?

It looks like the GraphQL server is returning an error "variables can only be defined on input types".  Googling that error message gets me here: https://github.com/hasura/graphql-engine/blob/master/server/src-lib/Hasura/GraphQL/Validate.hs#L95. Is that the GraphQL server you're using? Perhaps you can try to ask there under w

[2019-03-28 09:15] MShoaei opened #38 "Help: emaple with directives"
Can someone please provide a query example which uses `@skip` or `@include` directive?

[2019-03-29 06:21] dmitshur commented on #38
It's not a small example, but the `@include` directive is used [here](https://github.com/shurcooL/issues/blob/08d8dadf8acb9c08d7cb23769f7df13238e35353/githubapi/githubapi.go#L245).

[2019-03-29 14:15] MShoaei commented on #38
so here is how i got it to work:
[code]

[2019-03-29 14:40] MShoaei commented on #38
@dmitshur Thank you for your reply.
so here is how i got it to work:
using this schema
[code]

the struct I used is:
[code]
I would really appreciate a better solution.

[2019-04-11 05:07] dmitshur commented on #34
I'm warming up to this idea, but in a slightly different form.

I think it might be a good idea to expose some of the graphql internals (in this project), but in another location. The idea would be to make it possible to assemble a relatively high level GraphQL client (preferably tailored for a specific GraphQL server) library from the low-level building blocks.

I need to think it through some mo

[2019-04-13 02:44] remones commented on #34
Thanks for your reply. I'm looking forward to it.

[2019-04-21 05:51] sateeshpnv commented on #28
How about the below signature?

`func (c *Client) Query(ctx context.Context, q interface{}, variables map[string]interface{}, setHeaders func(*http.Request)) error`

It is backwards incompatible. However, clients can pass `nil` for `setHeaders` argument to not add any custom headers.

Full diff is given below.
[code]

[2019-04-22 10:04] sateeshpnv commented on #28
@dmitshur ,

If the setHeaders() approach is acceptable, I can submit a patch.

I think transport-agnostic stuff mentioned in one of the comments above can be addressed when #5 is addressed.

[2019-05-09 15:28] cameronbrunner commented on #32
With the changes from #41:

[code]

[2019-05-23 06:49] zhaogaolong opened #42 "graphqlClient request log"
Do you like add request log on graphql client request

like:

[code]

[2019-06-06 12:28] tkallioras commented on #27
@dmitshur is there any chance that the solution by @adamgoose be added in the package?

[2019-06-13 11:29] SamuelToh opened #43 "Help: Can you dynamically construct a graphql query?"
Based on the usage text and also the example shown [here](https://github.com/shurcooL/graphql/blob/master/example/graphqldev/main.go#L43-L75). It seems to me that the client will need to be told upfront what the `graphql query` would be before it can make the call.

Is there a way or example that show case dynamically construction of the `query struct`? In another words, can I use the client to pe

[2019-06-16 04:57] CreatCodeBuild commented on #43
Like different fields depending on user input?

[2019-06-16 21:41] dmitshur commented on #43
The experience of performing dynamic GraphQL queries is still a work in progress. There's an open issue about it at https://github.com/shurcooL/githubv4/issues/17. A comment https://github.com/shurcooL/githubv4/issues/17#issuecomment-437646874 in that issue describes an existing approach for doing this.

[2019-06-17 00:25] SamuelToh commented on #43
@CreatCodeBuild Correct.

Looks like @dmitshur has got it covered in his comment. I'll close this as this is a duplicate of [issue #17](https://github.com/shurcooL/githubv4/issues/17)

Thanks for looking into this guys.

[2019-06-17 00:25] #43 closed

[2019-07-01 15:24] riley-martine commented on #28
This would be very useful for [GitHub's Schema Previews](https://developer.github.com/v4/previews/#mergeinfopreview---more-detailed-information-about-a-pull-requests-merge-state), which need a custom media type in the Accept header.

[2019-07-14 21:05] Chillance opened #44 "Expecting type ISODateTime"
So, I'm getting this error message about this ISODateTime type being expected, but I can't see that in this library. How do I fix this?

Thanks!

[2019-07-15 04:46] dmitshur commented on #44
Is that a custom scalar type that the GraphQL server you're connecting to defines in its schema?

If so, you'll need to define your own Go type accordingly.

See [here](https://github.com/shurcooL/githubv4/blob/ee671ab25ff03db0246cbd7f08fa0bc88a2f9c15/scalar.go#L29-L30) for an example of a [`DateTime`](https://godoc.org/github.com/shurcooL/githubv4#DateTime) Go type that was created for GitHub's [

[2019-08-26 05:18] dmitshur commented on #32
Thank you @adamgoose for providing additional information and the reproducible snippet. It has helped a lot, I'm able to understand this issue now. I haven't run into it myself because GitHub API v4 [doesn't have](https://developer.github.com/v4/scalar/) a JSON scalar type.

Thanks for working on a PR @cameronbrunner, and sorry about the slow response there. I don't have a lot of bandwidth left to

[2019-09-04 09:13] starjasmine opened #45 "Help: Keeps saying "slice doesn't exist in any of 1 places to unmarshal"
I constructed an apollo-server following https://www.apollographql.com/docs/apollo-server/getting-started/

and wrote my own test code like below and ran it.

[code]

But, the output keeps saying

At the same time, HTTP request and response were exchanged between the server and my test code normally like,
[code]
Did I do something wrong?

[2019-09-04 10:49] dmitshur commented on #45
`Books struct { ... }` should be `Books []struct { ... }` in your query struct. There can be many books, so it needs a slice to unmarshal the JSON array into.

That said, this package should do something better in this situation. Either the error message needs to be improved, or maybe it could unmarshal just the first book and drop the rest.

[2019-09-04 12:18] starjasmine commented on #45
@dmitshur Thanks for your reply.  I think your plans look great.  Hope it's updated as you mentioned sooner or later. 😃 By the way, I'm a novice to Golang.  So I simply tried your suggestion (like `Books []struct { ... }`) as it looks.  Sorry, but, Golang seems don't support such expression. 😞

The message is like:

[2019-09-04 13:22] dmitshur commented on #45
Oh, after you change `Books` to be a slice of structs, you need to access each book by iterating over the slice. For example:

[code]

[2019-09-05 01:36] starjasmine commented on #45
@dmitshur It works wonderfully! Thank you for your help!

[2019-09-05 01:36] #45 closed

[2019-09-05 01:39] dmitshur opened #46 "better error message or different behavior when expecting slice of structs, but have single struct"
From https://github.com/shurcooL/graphql/issues/45#issuecomment-527848376:

See issue #45 for more context.

/cc @starjasmine

[2019-10-09 20:50] iheanyi commented on #28
@dmitshur How do you feel about the approach taken in https://github.com/shurcooL/graphql/pull/47? This is backwards compatible and extensible via functional options. Thoughts?

[2019-11-01 18:19] kfilipovski commented on #34
+1 It would be great to separate the graphql query constructions/parsing as a public package either in this repo or separate repo. Same 2 use-cases for me - writing a query to test a gqlgen server + constructing queries for subscriptions over websocket. Thanks.

[2019-12-24 08:31] Laisky commented on #28
you can try my fork https://github.com/Laisky/graphql , support custom headers & cookies, and fully compatible with shurcool/graphql.

[2020-01-04 06:52] dmitshur commented on #46
A related problem happened in shurcooL/githubv4#55.

The problem was that the query was `Repo []struct { ... }` but should've been `Repo struct { ... }`. The error was "struct field for "name" doesn't exist in any of 1 places to unmarshal".

In this case, it doesn't seem that an alternative behavior would be viable, so a more detailed and helpful error message would be better. Need to investigate

[2020-02-02 16:07] shkim opened #51 "Is there any plan to support file Upload?"

[2020-03-12 18:28] dphinc opened #52 "How to handle a mutation that returns a value"
How would you code the following mutation that returns an ID upon creation:

mutation CreateTeamPipeline {
  teamPipelineCreate(input: {teamID: "...", pipelineID: "...", accessLevel: READ_ONLY}) {
    teamPipeline {
      id
    }
  }
}

[2020-04-17 12:57] karthikvt26 commented on #32
Bumped into this issue. Any update on supporting this?
Thanks

[2020-04-24 16:05] dmitshur commented on #28
@gurpreetz Thanks for pointing out that GitHub is deprecating authentication via query parameters, and recommending authentication via request headers.

However, I don't think that changes best practices for using this API. The `golang.org/x/oauth2` package can be used to provide authentication via headers. See https://github.com/shurcooL/githubv4#authentication and https://github.com/google/go-gi

[2020-05-15 21:44] dmitshur commented on #52
You should define a variable with the corresponding structure that includes an `ID` field, and pass it to the `Mutate` method. The `ID` field in the variable you passed will be populated.

Have you looked at the [Mutations](https://github.com/shurcooL/graphql#mutations) section in the README?

[2020-06-17 02:46] achempak opened #54 "slice doesn't exist in any of 1 places to unmarshal"
I know this error has popped up before, but previous solutions don't seem to apply to me (or they do and I've overlooked it somehow). I'm using this module to itneract with the Shopify GraphQL API. I have a function like this:
[code]
However, when I run this function, I get the following error: `slice doesn't exist in any of 1 places to unmarshal`.
This is the GraphQL call I am trying to perform:

[2020-06-17 05:51] achempak commented on #54
I managed to fix the problem. For some reason when I don't use embedded structs, it works fine. In particular, I need to use this as the query:
[code]

[2020-06-17 14:35] dmitshur commented on #54
Thanks for reporting. I'll take a look at why the original query didn't work. It looks like it should work and this is a bug.

[2020-06-17 20:19] achempak commented on #54
Hi, it turns out this was my problem! One of the fields in the response (Tags), is actually a slice of strings. Somehow it worked for some customers and didn't work for others. I missed this because almost none of the customers had a value for the Tags field, so it worked most of the time. I think this can be marked as resolved. Sorry!

[2020-06-29 22:07] achempak opened #55 "Struct Field Tag not Properly Working"
I'm attempting to perform the following query:
[code]
The value of `$query` (at the bottom of the struct) is in the map
[code]
When I perform the query `err := client.Query(*ctx, &query, variables)`, it returns no results, which shouldn't be the case. When I directly type in the date for query
[code]
it properly returns the expected result. I compared the string produced with Sprintf with the lite

[2020-06-29 22:12] dmitshur commented on #55
[code]

That seems over-quoted. Can you try something like this:

[code]

[2020-06-29 22:17] achempak commented on #55
That works, thank you! The Shpoify docs all use the additional pair of quotes, so I thought I had to include them here as well. I didn't realize they were implicitly added.

[2020-06-29 22:17] #55 closed

[2020-07-10 18:52] rajdas98 commented on #27
Hi all, Any update on this issue?

[2020-07-24 04:58] marcocali commented on #44
As @dmitshur suggested you can create your own `type`:

`
type (
	ISODateTime struct{ time.Time }
)
`

Than use it in your `Query/Mutation/Variables`.

[2020-07-28 14:48] galambocskam opened #56 "Help-Question: Mutate"
Hi, thanks for any help you may offer.

I need to mutate using this graphql mutation quide: https://shopify.dev/docs/admin-api/graphql/reference/mutation/inventoryadjustquantity?api[version]=2020-07

I looked here at the mutations example but surely I missed something or wrongfully applied the logic because I cannot get it to work: https://github.com/shurcooL/graphql

[code]

[2020-08-12 07:16] marcocali opened #58 "Fragments Cannot Be Unmarshaled"
Currently having some issues with fragments.

I am able to correctly send a query with fragments, but the response get lost while unmarshalling. From my understanding, the reason is because queries with fragments and responses have different structures. The response cannot be unmarshalled into the original query.

For example, this query with a fragment:

[code]

 Can only be marshaled to the foll

[2020-08-13 01:30] marcocali commented on #58
Never mind... this actually works as expected:

[code]

This test will run ok.

Delve did not let me inspect `Type` struct, so I thought it would not unmarshall...

[2020-08-13 01:30] #58 closed

[2020-09-14 21:47] gurpreetz commented on #28
@dmitshur somehow didnt see your response.
I was already using those methods to authenticate when Github flagged it as soon to be deprecated - hence the request.
It looks like https://github.com/shurcooL/graphql/pull/47 might actually help move things forward.

[2020-09-15 03:28] dmitshur commented on #28
Can you please elaborate? Can I reproduce this somehow?

I've looked at https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#authenticating-with-graphql and I'm not seeing any changes to the authentication on GitHub's side beyond what I've already mentioned in my last comment.

If you think there is an issue, please file a new issue in https://github.com/shurcooL/githubv4/issues wi

[2020-09-15 15:00] gurpreetz commented on #28
This is basically what I have...

[code]

I then got an email from github stating that :
[code]

[2020-09-15 15:03] dmitshur commented on #28
@gurpreetz Thanks. That should not be happening, I'll need to investigate. Can you please file a new issue at https://github.com/shurcooL/githubv4/issues and specify what version of `golang.org/x/oauth2` you're using?

[2020-09-25 12:10] andoks opened #59 "Question: mixed types in array"
I am accessing a GraphQL API that returns some data which has the type "array of tuples" (specifically `[string, {min: number, max: number}][]` in typescript), but I am unable to find a way to formulate this with go structs and this package. Is there a way of fetching what is equivalent to tuples using this package?

[2020-09-28 14:48] carstenmichel opened #60 "query with complex arguments are not working"
Hello and thanks for the work that you already did put into this!

I want to talk to a GraphQL Server. I can only consume it, I have no influence on the API.

My query looks roughly like this:
[code]

Please see that the query arguments have a struct as parameter.

I can talk fine manually to the server using GraphiQL or Postman.
When I use golang with this lib, it fails to parse the list or argum

[2020-10-02 10:25] KeisukeYamashita opened #61 "Support uuid type"
## What
I want to use the Hasura [GraphQL API](https://hasura.io/docs/1.0/graphql/cloud/api-reference.html#apis).

[code]

I defined the struct below and run with these script.

[code]

But I get this weird error.

[code]

How can I use `uuid`? I read the GoDoc but I couldn't find any types for UUID.
Thanks in advance.

[2020-10-05 17:23] carstenmichel commented on #60
Solved it by providing the complete parameters object as variable

[2020-10-05 17:23] #60 closed

[2020-10-21 08:55] pergpau commented on #20
Please add this to the documentation. I probably spent a day or two on this problem :)

[2020-11-01 18:33] nyarly commented on #9
As mentioned on githubv4: the Github GraphQL API has Git `Tree` objects, with and `Entries` list of `GitObject` that might itself be `Tree`. Roughly speaking, we're representing a repository checkout as a tree of it's directory hierarchy.

On the one hand: a use case in the wild. In the other, whatever solution needs to handle that recursion when it isn't direct, and through a fragment.

[2020-11-25 10:36] alionski opened #63 "Help: Unable to unmarshal server reply containing a map into `map[string]interface{}`"
Good time of the day!

I'm having an issue with unmarshalling a server reply payload into Golang's `map[string]interface{}`.
The server uses [gqlgen](https://gqlgen.com/) and the inbuilt scalar [Map!](https://gqlgen.com/reference/scalars/) in both input and output.
The mutation input and output in the server schema:

[code]

The structs used on the client side:

[code]

The mutation executes corre

[2020-11-29 07:29] dmitshur commented on #63
I think you're not doing anything wrong, the problem here is that the `Map` scalar is probably not directly supported by this package.

Is `Map` scalar a part of the GraphQL specification, or is it something custom that gqlgen created?

[2020-11-29 14:35] alionski commented on #63
Thanks for your answer!
This scalar is not part of the [gql specs](https://spec.graphql.org/June2018/#sec-Scalars) (only Int, Float, String, Boolean and ID) and is something that [gqlgen offers as a built-in custom scalar](https://gqlgen.com/reference/scalars/#map).

I guess my option is not to use your library in this case then and instead use simple json.

[2020-11-29 14:41] alionski commented on #63
From what I saw, the json reply contains a map both when the reply is expected to be a struct and a map (as in my case). Your library only can interpret json maps as structs with tags that correspond to the json map keys. The unmarshalling fails as in my example, `OutputMap map[string]interface{} `json:"outputMap"` is the only stuct field with a tag (where it's neither possible no desirable to pro

[2021-01-29 21:49] sushruthajirnis opened #65 ""Variable \\\"$evar\\\" is never used."
Am i doing something wrong or the substitution of the variable is not accurate?
I get  following error , my initialization below

`"{\"errors\":[{\"message\":\"Variable \\\"$evar\\\" is never used.\",\"locations\":[{\"line\":1,\"column\":7}],\"extensions\":{\"code\":\"GRAPHQL_VALIDATION_FAILED\"}}],\"data\":null}"
`

[code]

[2021-01-30 02:12] dmitshur commented on #65
It looks like your `graphql` struct tag is missing a double quote:

[code]

[2021-01-30 17:42] sushruthajirnis commented on #65
yep that was it

[2021-01-30 17:42] #65 closed

[2021-02-04 16:31] qqgg231 opened #66 "[Feature reqeust] Add possiblity to load query from string / .gql file"
I see that currently this library requires every query to be a "golang type".

It is not possible to use graphql string (or file) with ready to use query.

I am generating queries in Hasura, so I really don't need to convert them do golang types, I think.

WDYT?

[2021-02-09 13:21] robx commented on #61
With the way the library determines types, I believe the following works:

[code]

[2021-02-09 15:51] carstenmichel opened #67 "Question: How to implement an enumeration type"
Hello,
the private API that I want to access needs an enumeration type in one of the parameters.
https://graphql.org/learn/schema/#enumeration-types
Is there a way to implement this with this library?
Many thanks

[2021-02-11 04:23] dmitshur commented on #67
Yes, enumeration types are supported. You can either define types and consts that correspond to the private API schema, for example:

[code]

And then use the type and individual values. Or you can use the const values directly.

Package [`githubv4`](https://github.com/shurcooL/githubv4), which builds on top of this general-purpose `graphql` package, defines Go identifiers for the GitHub API schem

[2021-02-14 17:53] dmitshur commented on #66
The main reason they're a Go value is so that you can access the query response by using that Go value. Other approaches are certainly possible and can be explored. I don't have plans to work on this myself.

[2021-02-17 00:09] qqgg231 commented on #66
@dmitshur
I see your point.

I wonder about one thing: would it be possible to make transpiler which would convert GrapQL query to correct golang types? It seems to me that it is reapeatable work, but I am not sure.

How do you think?

[2021-02-17 00:16] dmitshur commented on #66
Yes, a GraphQL query → Go type tool (with a UI similar to https://mholt.github.io/json-to-go/; CC @mholt) is very possible and likely a good idea, as it'd help eliminate the manual work involved. It would need a parser for GraphQL queries, and those exist now. I had this idea at the start of the project, but haven't had a chance to implement it myself. It'd be great if someone makes such a tool.

[2021-03-01 09:53] sebastian-garn commented on #63
I stumbled across the same issue. The thing is the library resolves the query, gets back the json response, iterates through it and while doing that it tries to assign the json values it finds to the appropriate struct fields. This is working fine as long as you are able to define exactly what will be in the response. But in our case one of our json response fields contains a map of unknown values

[2021-03-13 21:11] StevenACoffman commented on #66
While I would love a graphql-to-go for clients like gqlgen for servers, even if I had it now, there are some times I would like the option to bypass the struct tag solution for queries.

Specifically, I find that for very long and complicated queries, having the query itself as a struct tag gets unwieldy (1024+ character go struct lines?).

I can [dynamically alter the struct tag to load the query

[2021-03-24 12:03] KlausVii commented on #27
https://github.com/hasura/go-graphql-client seems to provide subscriptions

[2021-05-13 18:40] rocktavious opened #69 "Question: Example of doing pagination (especially on nested resources that are paginated)"
I'm working with a graphQL API that has a top level resource that has several fields in it that are paginated themselves - something like

[code]
and its unclear to me how to properly handle pagination of these nested `tools` and `tags` resources.  I understand how the `pageInfo` object's `endCursor` and `hasNextPage` fields work and how to use them with the argument to `after` to query the next p

[2021-05-18 12:28] dmitshur commented on #69
This is a good question, and it remains an open question for me.

(FWIW, basic pagination is documented at https://github.com/shurcooL/githubv4#pagination, but it doesn't cover pagination across more than one resource that this issue is asking about.)

So far in the few places where I need to do pagination across more than one resource type per query, I've been able to get by with only doing pagin

[2021-05-18 19:19] rocktavious commented on #69
@dmitshur thats really surprising to hear - seems like this would be a pretty typical thing with complex graphql APIs.

As it stands right now i'm thinking i'm going to have to make a choice between 2 options both of which require a 2nd API call that is JIT (just in time) at its usage:

Adding an additional function on the client where you pass in the  top level resource you want to fill something

[2021-05-19 13:54] raphaelfff commented on #5
Facing the same issue, we ended up creating https://github.com/infiotinc/gqlgenc

[2021-05-22 18:54] rocktavious commented on #69
If anyone stumble across this - this is how i've implemented it in our [OpsLevel go client](https://github.com/OpsLevel/opslevel-go)

- i made [structs](https://github.com/OpsLevel/opslevel-go/commit/f592b627ff915466f24034914ce81e3e45abd3d4#diff-0f794b99e0d1a244af43003729f7fe1f6d20c69267d494189002abd8cd5f589eR28) that implement nodes and pageInfo data which the toplevel resource uses
- I added ["h

[2021-06-05 19:59] rocktavious commented on #69
@dmitshur is there any way a field can be included on query struct but ignored when this library generates the graphql query - similar to the json tag `omitempty`

Something like
[code]

This would allow me to get the raw data back from the server into the field `stuffPages` but then use my pagination processing to handle pagination and then fill the `Stuff` field so that this is the field the end

[2021-06-05 20:12] rocktavious commented on #69
After some digging it appears not - https://github.com/shurcooL/graphql/blob/master/internal/jsonutil/graphql.go#L257

seems like thats the area which would need to be refactored to support this.  Seems like this would be a good feature to add to support writing easy to access structures of paginated data.  Thoughts @dmitshur?

[2021-06-07 16:37] myitcv commented on #69
Following [this thread](https://twitter.com/_myitcv/status/1400814665568067585) on Twitter, I came up with the following:

https://gist.github.com/myitcv/f7da6cb073de3c48c9f88b6b95225b4c

The overall goal was to extract:

* all discussions
* all comments from those discussions
* all replies to those comments

for a given GitHub repository, minimising the number of calls to the GitHub GraphQL endpo

[2021-07-22 16:05] andig opened #72 "Nested struct tag not applied to query"
I'm a newbie to graphql and fail to query [Tibber](https://developer.tibber.com/explorer):

		var res struct {
			Viewer struct {
				Home struct {
					ID                  string
					TimeZone            string
					CurrentSubscription tibber.Subscription
				} //`graphql:"home(id: $id)"`
			}
		}

		v := map[string]interface{}{
			"id": graphql.ID(t.HomeID),
		}

		if err := t.client.Query(conte

[2021-07-23 14:42] andig commented on #72
**Update**

The successful query looks like this:

    curl -X POST -H "Content-Type: application/json" \
    -H "Accept: application/json" \
    -H "Authorization: Bearer 476c477d8a039529478ebd690d35ddd80e3308ffc49b59c65b142321aee963a4"
    -d '{"query":"query($id:ID!){viewer{home(id: $id){id,timeZone,currentSubscription{id,status,priceInfo{current{level,startsAt,total},today{level,startsAt,total

[2021-07-23 14:49] andig commented on #72
Nvm. Turns out I've hidden the struct tag behind `//` which makes it a comment :/

[2021-07-23 14:49] #72 closed

[2021-09-02 21:05] rocktavious opened #74 "Using alternative rest clients"
Hello,

I was wondering if its possible to use alternative HTTP clients or how much work it would be to support this.

For example i'm looking to add retry & backoff to my graphql client based on top of this library and there are a handful of libraries out there such as https://github.com/go-resty/resty

But it seems like most act as a wrapper ontop of http.Client and there is no way to pass in a

[2021-09-08 18:01] davidkarlsen commented on #46
Hmm, I have this query:
[code]

which should match the returned structure just fine, but still it won't work?

[2021-09-08 21:02] davidkarlsen commented on #46
doh, amateur-hour, I hadn't exported them. Disregard my comment.

[2021-10-13 05:28] shanhui1 opened #77 "OAuth2 Bearer Token with Customer HttpClient"
For our use case, we need to pass in our custom HttpClient and make request with a different OAuth2 Bearer Token. We can't use the oauth2 lib as suggested. Anyway to get access to the req.headers before sending mutation queries?

I have a custom HttpClient such as this:

[code]

[2021-10-13 15:02] shanhui1 commented on #56
What's your `graphql` string mutation that you're trying to build?

[2021-10-28 08:21] aleksei-krotov opened #78 "Please make "constructQuery" exported"
Hi,
All I need is to use your "constructQuery" for tests. Please make it public.

I got custom types at queries and found that I want to write small assert test to avoid bad constructions.

**For example,** I converted an input map to custom type:
[code]
It gives me the correct query after construction:
`query($filter:[codes!]!){classification(filters: $filter)}`

But when I use `map[string]string

[2021-11-09 15:21] grihabor opened #80 "Allow building mutations from maps instead of structs"
Suppose I can create user like this
[code]
Now I'd like to create multiple users in single request
[code]
It would be convenient to implement it in code with map
[code]
jfyi I've started implementing the thing

[2021-12-13 12:04] rocktavious opened #84 "I love this library but it seems unmaintained?"
Hello Reader,

I love this library.  It makes maintaining and even generating graphql clients super easy.  While the approach of using structs is not as flexible when you need very specific custom queries as other approaches I do enjoy the type safety and ability to generate the structs programmatically from the graphql schema.

I've been using this library in my production code for over a year no

[2022-01-13 13:33] andyfeller opened #85 "Type mismatch between variable and argument for optional String / ID"
In trying to query the GitHub [`repositoryOwner`](https://docs.github.com/en/graphql/reference/interfaces#repositoryowner) for retrieving repositories for organizations and/or users, I ran into a problem involving the workaround from ttps://github.com/shurcooL/githubv4/issues/12 as the interface does not appear to like `ID` for `EndCursor`.

When calling this query, the following error is returned

[2022-01-14 21:34] brandonbloom commented on #5
I also wanted to use this library in a transport-agnostic way, so I extracted the marshaling/encoding bits to another package: https://github.com/deref/graphql-go/tree/d269e7a529c689bc6fbd40814615844d9a1e47ef#encoding

Thanks to @dmitshur for his excellent work on this original library!

[2022-01-17 21:29] onurkose commented on #77
I was looking for a solution to make self signed certificates work for local development. But I believe this will solve your problem too.
[code]

[2022-01-21 16:30] emicklei commented on #52
@dmitshur that section currently does not show an example of this case.

From looking at the implementation, I see that the variables map (section example) would be updated from the response

[2022-01-29 19:40] cor commented on #32
Is there a workaround for this? I really need to insert a `jsonb` into a Hasura database

[2022-01-29 19:50] cor commented on #84
For me a big one is that there is no support for Hasura's `jsonb` type.

[2022-01-31 19:51] cameronbrunner commented on #32
@cor My MR branch is still here...  https://github.com/Navops/graphql/tree/support-raw-json (the v0.0.2 tag is pointing at this branches current HEAD/tip).  You can use that directly, fork it, etc.  We do something similar in our project by adding the following line to our `go.mod`

replace github.com/shurcooL/graphql => github.com/navops/graphql v0.0.2

[2022-02-01 14:11] VanCoppenolleWout commented on #28
Hi, I needed to set the authorization in the header for my graphql request and I found a solution that works for me.

I need to provide a jwt token with my request for my backend:

This is what I added:
`client = client.WithRequestModifier(setAuthHeader(token))`

Full code:
`

	client := graphql.NewClient("http://localhost:8080/query", nil)
	client = client.WithRequestModifier(setAuthHeader(token)

[2022-02-04 04:04] brandonbloom commented on #32
This is now supported in my transport-agnostic fork: https://github.com/deref/graphql-go

The specific changes are here: https://github.com/deref/graphql-go/compare/c7885fdd0fbc0a4061a3d40e31a14a48b57d6726...e2b473959845be6782ba490d7372a82f3704bd4b

[2022-02-14 20:00] endrureza opened #89 "FaunaDB graphql _id defined as _ID not exported"
I defined a struct of post like below

[code]

it gives me error message

[code]

while it give me error message

[code]

if i define the struct field like

[code]

I'm using FaunaDB graphql by the way, where their id reference is `_id`, is there any way to solve this one ?

[2022-02-14 20:13] dmitshur commented on #89
This might be a bug in the automatic mapping between Go struct field names and GraphQL fields. If so, the fix will belong there.

Can you see if it's possible to work around it temporarily by setting the name explicitly via a string literal tag `graphql`, perhaps like so:

[code]

[2022-02-14 20:25] endrureza commented on #89
[code]

that one works. thanks @dmitshur

[2022-02-14 20:25] #89 closed, assigned to nobody

[2022-02-14 20:56] dmitshur commented on #89
Ah, the underscore in `_ID` makes it an unexported field, which cannot be accessed via reflection:

https://go.dev/play/p/g3UVxxue_vy

So using `ID` (or any other exported name) as the Go field name and setting the graphql name explicitly is the only possible fix.

[2022-04-07 20:14] donatj commented on #78
I came here to ask for the same thing. I personally just want to get the generated query as a string

[2022-04-07 20:33] donatj commented on #78
For what it's worth, I was able to use a RoundTripper to read the body of the request to get the query.

Not ideal, but it works.

[code]

+

[code]

[2022-04-08 07:24] aleksei-krotov commented on #78
We use proprietary header for Authorization, so I used RoundTrip as well.
But please  be careful and do not modify request body. https://go.dev/src/net/http/client.go#129

Like this: https://github.com/google/go-github/blob/d23570d44313ca73dbcaadec71fc43eca4d29f8b/github/github.go#L841-L875

[2022-04-10 17:36] TizioFittizio commented on #28
@VanCoppenolleWout what is `setAuthHeader` there?

[2022-05-19 05:50] ferleal commented on #28
It is something like this
[code]

[2022-06-10 19:18] lurein commented on #54
+1 on this, I had a similar issue, it turned out that in my query shape I had

[code]

but I needed to have:

[code]

[2022-06-21 07:52] mvltyldrmm opened #95 "Message: x-hasura-admin-secret but not found,"
**Hi.
My graphql is live and on hasura. I need the key for connection. But I don't understand how to get it for this library. How can I run queries and mutations using secret key?**

[2022-09-29 12:56] andig commented on #5
Currently looking at the Tibber Pulse api integration for https://evcc.io. Looks like https://github.com/shurcooL/graphql/issues/5#issuecomment-1013489053 is the latest/ best suggestion for streaming API integration?

[2022-11-04 01:40] rjjatson opened #99 "Return more verbose error to the caller"
Hi,
There is currently no way to differentiate between various errors when doing a query/ mutation except from the [error](https://github.com/shurcooL/graphql/blob/master/graphql.go#L104 ) messages.

As error messages from the resource server are sometimes dubiety, some resource server does return error code on the [extensions](https://spec.graphql.org/June2018/#sec-Errors)field so that the caller

[2022-11-10 11:57] droslean commented on #17
@dmitshur Same here. What is the status of this issue? Currently, this problem makes the library useless.

[2022-11-10 21:41] droslean opened #100 "query with circular dependencies leads to infinite recursion"
A stack overflow occurs for recurring calls. This seems to be a bug in https://github.com/shurcooL/graphql/blob/master/query.go#L97-L130

To replicate

[code]

output:
[code]

[2022-11-10 21:41] droslean commented on #100
cc @dmitshur

[2022-11-20 14:38] andig commented on #5
For reference: my best experience regarding web sockets support (i.e. subscriptions) sofar has been https://github.com/hasura/go-graphql-client which is a fork. It would be nice to see something like that as part of this module.